<h3>About</h3>
<p>
  Guardian Theater delivers out-of-body experiences to Guardians with the help
  of data and videos provided by Bungie, Twitch, Mixer, and Xbox.
</p>
<p>
  Guardian Theater was created by
  <a (click)="route(['/guardian/1/4611686018445133002'])">Chris Fried</a> with
  invaluable assistance from
  <a (click)="route(['/guardian/1/4611686018429542374'])">Dustin Rue</a>.
</p>
<h3>Contact</h3>
<p>
  Suggestions? Is something broken? Let us know on
  <a href="https://discord.gg/0lADdhKdnv0jxTNP" target="_blank"
    >our Discord server</a
  >, or
  <a
    href="https://github.com/GuardianTheater/guardian-theater/issues/new"
    target="_blank"
    >open an issue</a
  >
  on Github.
</p>
<p>
  You can find us on Twitter as
  <a href="https://twitter.com/guardtheater" target="_blank">@guardtheater</a>,
  <a href="https://twitter.com/chrisfried" target="_blank">@chrisfried</a>, and
  <a href="https://twitter.com/MonkeyStream" target="_blank">@MonkeyStream</a>.
</p>
<h3>Support Guardian Theater</h3>
<h5 style="font-weight: bold">Do you have merch?</h5>
<p>
  You can wear our MST3k-inspired logo on your torso, or put it on a variety of
  other objects, with a stop by
  <a
    href="https://chrisfried.threadless.com/designs/guardian-theater-3000"
    target="_blank"
    >our Threadless shop</a
  >.
</p>
<h5 style="font-weight: bold">Can I just give you money?</h5>
<p>
  Absolutely. Drop us a donation through
  <a href="https://github.com/sponsors/chrisfried" target="_blank"
    >GitHub Sponsors</a
  >, <a href="https://ko-fi.com/chrisfried" target="_blank">Ko-fi</a>, or
  <a
    href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8GLMLFEGR5TFU"
    target="_blank"
    >PayPal</a
  >.
</p>
