<div *ngIf="loadingActivities" class="profile-spinner-wrapper">
  <div
    class="fi-widget spinner profile-spinner"
    title="Fetching Bungie Activities..."
  ></div>
</div>
<div *ngIf="(!instances || !instances.length) && !loadingActivities">
  No activities found.
</div>

<div class="row" *ngIf="instances.length > 7">
  <div class="columns small-12 button-group expanded">
    <button
      type="button"
      class="button paging"
      (click)="prevPage()"
      [ngClass]="{ disabled: (page | async) < 1 }"
      title="Previous"
    >
      <span class="fi-previous"></span>
    </button>
    <button
      type="button"
      class="button paging"
      (click)="nextPage()"
      [ngClass]="{
        disabled: (page | async) >= instances.length / 7 - 1
      }"
      title="Next"
    >
      <span class="fi-next"></span>
    </button>
  </div>
</div>
<app-activity
  *ngFor="let instance of slicedInstances"
  [instance]="instance"
></app-activity>
